/* =========================
   NAVBAR
========================= */

.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:8px 15px;

    position:fixed;
    top:0;
    left:0;

    width:100%;
    z-index:9999;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.08);

    color:white;

    /* IMPORTANT */
    overflow:visible;
}


/* desktop */
.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}


/* mobile */

@media (max-width:768px){

    .nav-links{

        position:absolute;
        top:100%;
        left:0;

        width:100%;

        list-style:none;

        display:none;
        flex-direction:column;
        align-items:center;
        gap:20px;

        padding:20px 0;

        /* GLASS */
        background: rgba(255,255,255,0.08);

        /* IMPORTANT */
        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);

        /* FIX */
        transform: translateZ(0);
        will-change: backdrop-filter;

        border-bottom:
        1px solid rgba(255,255,255,.08);

        box-shadow:
        0 10px 30px rgba(0,0,0,.25),
        inset 0 1px 0 rgba(255,255,255,.05);

        z-index:10000;
    }

    .nav-links.active{
        display:flex;
    }

    .hamburger{
        display:flex;
    }
}