/* NAVBAR */

.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:8px 15px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.08);

    box-shadow:
    0 10px 30px rgba(0,0,0,.2),
    inset 0 -1px 0 rgba(255,255,255,.05);

    position:fixed;
    top:0;
    left:0;
    width:100%;

    z-index:9999;

    color:white;

    overflow:visible;
}


/* LINKS DESKTOP */

.nav-links{
    list-style:none;
    display:flex;
    gap:25px;
}


/* MOBILE */

@media (max-width:768px){

.nav-links{

    position:absolute;

    top:100%;
    left:0;

    width:100%;

    display:none;

    flex-direction:column;
    align-items:center;

    gap:20px;

    padding:20px 0;

    z-index:10000;

    /* REMOVE BACKDROP HERE */
    background:rgba(255,255,255,.06);

    border-bottom:
    1px solid rgba(255,255,255,.08);

    box-shadow:
    0 10px 30px rgba(0,0,0,.25);

    overflow:hidden;

    position:absolute;
}


/* BLUR LAYER */
.nav-links::before{

    content:"";

    position:absolute;

    inset:0;

    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    background:
    rgba(255,255,255,.03);

    z-index:-1;
}



.nav-links.active{
    display:flex;
}

.hamburger{
    display:flex;
}

}