html, body {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
   }
   
   body {
    margin: 0;
    height: 100vh;
    background: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
 
  }

.boxx {
margin-top: 12%;
  width: 80%;
  padding: 20px;
  height: 70%;
 background: linear-gradient(90deg, rgb(19, 19, 19), rgb(36, 36, 36));
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 15px;
   box-shadow: 5 0 10px rgba(0,0,0,0.2);
  
}
.boxx h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}