html, body {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
   }
   

.boxx {
margin-top: 12%;
  width: 85%;
  padding: 20px;
  height: 80%;
 background: linear-gradient(90deg, rgb(19, 19, 19), rgb(36, 36, 36));
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 15px;
   box-shadow: 5 0 10px rgba(0,0,0,0.2);
   z-index: 0;
  
}
 .boxx h1 {
color: white;
     text-shadow: 5px 0px 10px rgb(255, 0, 0), -5px 0px 10px blue, 5px -2px 10px cyan;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center ;
    }
    .boxx p {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
    }

   #loader {
  position: fixed; inset: 0;
  display: flex; justify-content: center; align-items: center;
  background: #0a0a0a; z-index: 9999;
 
  ;
}
.text {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  opacity: 0;
  text-align: center;
  top: auto;
  animation: fadeText .5s ease .3s forwards;
}
.spinner {
  background-image: linear-gradient(rgb(175, 174, 174) 35%,rgb(255, 255, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(192, 190, 190), 0px 5px 20px 0px rgb(255, 255, 255);
  z-index: 9999;
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
  z-index: 9999;
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn { from{opacity:0}to{opacity:1}}
@keyframes fadeText { to {opacity: 1 }}
@keyframes popUp {to {transform:scale(1)}}
@keyframes fadeOut { to {opacity:0;visibility:hidden;} }